{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>bests</h2>
  <table class="table table-condensed table-striped">
  <tr>
    <th class="text-center">file</th>
    <th class="text-center">ai</th>
    <th class="text-center">cost</th>
  </tr>

  {% for p in probs_dict.values() %}
  <tr>
    {% if p.best.vis_url %}
    <td class="text-center"><a href="{{p.best.vis_url}}">{{p.name}}</a></td>
    {% else %}
    <td class="text-center">{{p.name}}</td>
    {% endif %}
    <td class="text-center">{{p.best.ai_name}}</td>
    <td class="text-center">{{p.best.cost}}</td>
  </tr>
  {% endfor %}
</div>

{% endblock %}

