{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>bests</h2>
  <table class="table table-condensed table-striped table-sm">
  <tr>
    <th class="text-center">file</th>
    <th class="text-center">top (cost) (diff)</th>
    <th class="text-center">1st (cost)</th>
    <th class="text-center">2nd (cost)</th>
    <th class="text-center">3rd (cost)</th>
  </tr>

  <p>{{not_solveds | length}} 問の解いていない問題があります</p>
  {% if not_solveds %}
  <p> {% for prob_id in not_solveds %} {{prob_id}} {% endfor %} </p>
  {% endif %}

  {% for best3 in probs_dict.values() %}
  <tr>
    <td class="text-center">{{best3[0].prob_id}}</td>

    {% set r = rival_data[best3[0].prob_id] %}
    {% if r %}
      <td class="text-center">{{r[0]['team_short']}} ({{r[0]['cost']}}) (+{{best3[0].cost - r[0]['cost']}}) ({{ "{:.4}".format(r[0]['cost'] / best3[0].cost) }}倍)</td>
    {% else %}
      <td class="text-center">-</td>
    {% endif %}

    {% for p in best3 %}
    {% if p.vis_url %}
    <td class="text-center"><a href="{{p.vis_url}}">{{p.ai_name}}({{p.cost}})</a></td>
    {% else %}
    <td class="text-center">{{p.ai_name}} ({{p.cost}})</a></td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</div>

{% endblock %}

