{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>logs</h2>
  <table class="table table-condensed table-striped">
  <tr>
    <th class="text-center">log</th>
    <th class="text-center">cost</th>
    <th class="text-center">valid</th>
    <th class="text-center">src</th>
    <th class="text-center">tgt</th>
    <th class="text-center">at</th>
  </tr>

  {% for p in logs %}
  <tr>
    <td class="text-center"><a href="{{p.vis_url}}">{{p.name}}</a></td>
    <td class="text-center">{{p.cost}}</td>
{% if p.valid %}
    <td class="text-center table-success"><a href="{{p.validate_path}}">Pass</a></td>
{% else %}
    <td class="text-center table-danger"><a href="{{p.validate_path}}">Fail</a></td>
{% endif %}
    <td class="text-center"><a href="{{p.prob_src}}">{% if p.prob_src %}src{% endif %}</a></td>
    <td class="text-center"><a href="{{p.prob_src}}">{% if p.prob_src %}tgt{% endif %}</a></td>
    <td class="text-center">{{p.date}}</td>
  </tr>
  {% endfor %}
</div>

{% endblock %}

